<html>
<head>
    <title>
        Dockerizing a Python Web Application
    </title>
</head>
<body>
<h1> Simple Web Application using Python Flask Framework</h1>
<h2> Response from host {{ HOSTNAME }} with IP Address {{ IP }} </h2>

<h3> Numerical Integration of abs(sin(x)) </h3>

<p>This project involves the creation of a microservice for numerical integration using the Flask framework in Python.
    The numerical integration is performed for the function abs(sin(x)) within a specified interval,
    and the program is designed to break the interval into N subintervals,
    compute the area of the rectangle at each subinterval,
    and add them all up. The ultimate goal is to observe the convergence of the result to 2 as N increases.</p>
</body>
</html>